<footer>
  <div class="subfooter">
    <div>
      <p>
        If you want to keep up to date with my random projects
        then you can
        <a href="https://twitter.com/benhoad">follow me on Twitter</a> 
        and if you want to help me out with building some of these projects
        then you can
        <a href="https://www.paypal.me/BenjaminHoad/5">shout me a coffee or whatever.</a> 
      </p>

    </div>
  </div>
  

  <ul>
    <li><a href="https://twitter.com/benhoad">Twitter</a></li>
    <li><a href="https://github.com/benhoad">GitHub</a></li>
    <li>
      <a href="https://www.youtube.com/channel/UCGxRytHqxnWn4kd7fBBRhDQ"
        >YouTube</a
      >
    </li>
    <li><a href="https://www.instagram.com/ben_hoad/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/ben-hoad">LinkedIn</a></li>
  </ul>
  <aside>&copy <span><%= new Date().getFullYear() %></span> Ben Hoad</aside>
</footer>

<script type="text/javascript">
  // Footer
  document.querySelector(
    "footer > aside > span"
  ).textContent = new Date().getFullYear();

  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9426233-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
